.message-list {
    width: 100%;
    align-items: center;
    position: absolute;
    margin-top: 2vh;
    height: 1vh;
}

.message.fade {
    opacity: 0;
    transform: translateY(-100%);
}

.message {
    position: absolute;
    align-items: baseline;
    line-height: 5vh;
    width: 100%;
    height: auto;
    background-color: #DFF;
    pointer-events: all;
    padding-left: 2vh;
    opacity: 1;
    transform: translate(0%);
    transition: opacity 0.5s ease-in-out, transform 0.5s, top 0.5s;
}