.a-container {
    align-items: baseline;
    display: flex;
    margin-bottom: 0.5vw;
}

.a-time-layer {
    flex-shrink: 0;
    font-size: 1.75vw;
    color: #777;
    padding-right: 2vw
}

.a-title-layer {
    font-size: 1.75vw;
    padding-right: 2vw;
    flex: 1 1 auto;
}
.a-content-layer{
    font-size: 1.75vw;
    margin-left: 2vw;
}