.content-container-addition {
    display: flex;
    align-items: flex-start;
}

.tag-layer {
    padding-left: 2vw;
    width: auto;
}

.tag {
    font-size: 2vw;
    display: inline-table;
    background-color: #EEEEEE;
    margin-right: 1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-bottom: 1vw
}

.avatar {
    width: 15vw;
    height: 21vw;
    margin-top: -8vw;
    margin-left: auto;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}