.a-container {
    align-items: baseline;
    display: flex;
    margin-bottom: 0.5vw;
}

.a-time-layer {
    flex-shrink: 0;
    font-size: 1.75vw;
    padding-right: 2vw;
}

.a-title-layer {
    flex: 1 1 auto;
    font-size: 1.75vw;
    padding-left: 2vw;
    border-left-style: solid;
    border-width: 0.3vw;
    border-color: #F55;
}
.a-content-layer{
    font-size: 1.75vw;
    margin-left: 2vw;
}