.pi-content-container-addition {
    display: flex;
    align-items: flex-start;
}

.pi-tag-layer {
    width: auto;
    background-color: #FFF;
    column-count: 2;
}

.pi-tag {
    font-size: 2vw;
    /* display: inline-table; */
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 2vw;
    border-left-style:solid;
    border-width: 0.3vw;
    border-color: #F55;
}

.pi-avatar {
    width: 15vw;
    height: 21vw;
    margin-top: -6.5vw;
    margin-left: auto;
    border-style:solid;
    border-color: #DDD;
    border-width: 0.5vw;
}

.pi-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}