.pe-main-container {
    align-items: baseline;
    display: flex;
    margin-bottom: -1px;
    border-bottom-style: solid;
    border-color: #F55;
    border-width: 0.3vw;
    margin-right: 2vw;
}

.pe-title-layer {
    font-size: 2vw;
    padding-right: 2vw;
    width: 40vw;
}

.pe-role-layer {
    font-size: 1.5vw;
    padding-right: 2vw;
    padding-left: 2vw;
}

.pe-time-layer {
    font-size: 1.5vw;
    margin-left: auto
}

.pe-technology-container {
    align-items: baseline;
    display: flex;
    margin-bottom: 0.5vw;
    padding-left: 1vw;
}

.pe-technology-layer {
    font-size: 1.5vw;
}

.pe-technology-tag {
    font-size: 1.5vw;
    font-weight: bold;
    color: #FFF;
    display: inline-table;
    background-color: #F55;
    margin-right: 1vw;
    padding: 0.5vw;
}

.pe-url-layer {
    font-size: 1.5vw;
    margin-left: 1vw;
}

.pe-content-layer {
    font-size: 1.5vw;
    line-height: 2.5vw;
    padding-right: 2vw;
}