.pi-content-container-addition {
    display: flex;
    align-items: flex-start;
}

.pi-tag-layer {
    width: auto;
    column-count: 2;
    filter: grayscale(100%);
}

.pi-tag {
    font-size: 2vw;
    margin-right: 1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-bottom: 1vw
}

.pi-avatar {
    width: 15vw;
    height: 21vw;
    margin-top: -8vw;
    margin-left: auto;
}

.pi-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}