.we-main-container {
    align-items: baseline;
    display: flex;
    /* margin-bottom: 0.5vw; */
    border-bottom: 0.3vw solid;
    margin-right: 2vw;
}

.we-title-layer {
    font-size: 2vw;
    padding-right: 2vw;
}

.we-department-layer {
    font-size: 1.5vw;
    padding-right: 2vw;
}

.we-position-layer {
    font-size: 1.5vw;
    padding-right: 2vw;
}

.we-practice-layer {
    font-size: 1.5vw;
    border-radius: 0.4vw;
    /* background-color: #DFF; */
    /* color: #000; */
    border-style: solid;
    border-width: 0.2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-right: 2vw
}

.we-time-layer {
    font-size: 1.5vw;
    margin-left: auto;
}

.we-content-layer {
    font-size: 1.5vw;
    line-height: 2.5vw;
}