.pi-content-container-addition {
    display: flex;
    align-items: flex-start;
}

.pi-tag-layer {
    width: auto;
    column-count: 3;
    filter: grayscale(100%);
}

.pi-tag {
    font-size: 16px;
    margin-right: 8px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 8px;
}

.pi-avatar {
    width: 120px;
    height: 175px;
    margin-top: -48px;
    margin-left: auto;
}

.pi-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}