.we-main-container {
    align-items: baseline;
    display: flex;
    /* margin-bottom: 0.5vw; */
    border-bottom: 2.4px solid;
    margin-right: 16px;
}

.we-title-layer {
    font-size: 16px;
    padding-right: 16px;
}

.we-department-layer {
    font-size: 14px;
    padding-right: 16px;
}

.we-position-layer {
    font-size: 14px;
    padding-right: 16px;
}

.we-practice-layer {
    font-size: 14px;
    border-radius: 3.2px;
    /* background-color: #DFF; */
    /* color: #000; */
    border-style: solid;
    border-width: 1.6px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 16px;
}

.we-time-layer {
    font-size: 14px;
    margin-left: auto;
}

.we-content-layer {
    font-size: 14px;
    line-height: 20px;
}